.GameLobby {
    width: 100vw;
    min-height: 100vh;
    background-color: #5a3e2b;
    background-image: url('../img/GameLobbyBG.jpg');
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.GameLobby-Body{
    width: 90vw;
    height: 90vh;
    padding: .8%;
    background-image: url('../img/TableBG.jpg');
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 24px;
        border: 5px solid #a77c4d; /* kolor ramy */
    border-radius: 12px;
    overflow: auto;
}
.GameLobby-Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1%;
    border: 5px solid #5a3e2b;
    border-radius: 24px;
    margin-bottom: 1.5%;
    background-color: rgba(255,255,255, 0.3);
}
.GameLobby-Header h1{
    font-size: 53px;
    margin: -19px auto;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color: #f6e27a;
   text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
         2px  2px 5px rgba(0,0,0,0.5);
}

.GameLobby-Card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
}
.inviteButton {
    font-size: 24px;
    color: #836a19;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-color: #836a19;
    background: linear-gradient(135deg, #f5e7c3 0%, #e6d2a5 100%);
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.startButton {
    font-size: 24px;
    color: #a52a2a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-color: #a52a2a;
    background: linear-gradient(135deg, #f5e7c3 0%, #d9c19f 100%);
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    .GameLobby-Header h1{
        font-size: 36px;
        margin: 5px 0;
    }
    .GameLobby-Card {
        margin-top: 20px;
        padding-bottom: 120px;
    }
    .startButton, .inviteButton{
        position: fixed; /* Zmiana z absolute na fixed */
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        transition: bottom 0.3s ease; /* Animacja dla płynnego przesuwania */
    }
    .startButton {
        bottom: 95px;
    }
    .inviteButton{
        bottom: 50px
    }
}