@font-face {
  font-family: Sancreek;
  src: url(Sancreek-Regular.ttf);
}

body{
  overflow-y: hidden;
}

.fonts{
    font-family: Sancreek;   
}

.light, .dark{
  background-color: #5a3e2b;
  margin: 0;
  background-image: url('../img/BodyBG.jpg');
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}